<header class="primary">
  <%= render partial: "shared/logo" %>
  <div class="blocks">
    <div class="block bg--yellow"></div>
    <div class="block bg--red"></div>
    <div class="block bg--blue"></div>
    <div class="block bg--purple"></div>
    <div class="block bg--green"></div>
  </div>
</header>
<header class="super"></header>
