<div class="container">
  <p>Hey there! Welcome to grouch.dev, where we're all about turning grumbles into greatness. We embrace the grumpiness that can sometimes accompany the ever-changing world of technology. Our name is a nod to those grouchy moments we've all experienced when faced with a new challenge or change. But, you know what? A sprinkle of understanding, a dash of knowledge, and a heap of empathy can turn any frown upside down.</p>

  <p>Based out of the vibrant Asheville, NC area, we are proud to be part of a community that values creativity, collaboration, and innovation. In today's digital world, we're all neighbors, and we're committed to making our global neighborhood a better place!</p>
</div>
<div class="container">
  <div class="tiles">
    <div class="tile tile--yellow">
      <h3> Contract Programming</h3>
      <p>Need an experienced programmer to bring your project to life? Look no further! With experience in Ruby on Rails, and React, we offer contract programming services to meet your unique needs and help you achieve your business goals.</p>
      <p class="icon">👨‍💻</p>
    </div>

    <div class="tile tile--red">
      <h3>Small Business Email & Website Support</h3>
      <p>Navigating the digital world can be tricky, but we're here to help! We provide small business email support and website assistance to ensure your communication tools and online presence are top-notch.</p>
      <p class="icon">📧</p>
    </div>

    <div class="tile tile--blue">
      <h3>Custom Websites</h3>
      <p>In addition to our programming and support services, we also create small custom websites tailored to your specific requirements. Whether you need a professional online portfolio, a sleek landing page, or an easy-to-navigate blog, we've got you covered.</p>
      <p class="icon">💻</p>
    </div>
  </div>
</div>
<div class="container">
  <h2>Say Hello</h2>
  <p>Ready to turn your ideas into reality? We'd love to hear from you! Fill out the form, and let's get started!</p>
  <%= render partial: "contact/contact_form", locals: { contact_form: @contact_form } %>
</div>
<div class="container">
  <h2>A Little More About Us</h2>
  <p>We believe in giving back. Our business is not just about profits. It's about making a positive impact, both locally and globally! We are dedicated to supporting initiatives and organizations that strive to improve the lives of those in our community and around the world.</p>
</div>
