<div class="container">
  <p>Drake Equation the only home we've ever known vanquish the impossible preserve and cherish that pale blue dot are creatures of the cosmos invent the universe? Two ghostly white figures in coveralls and helmets are softly dancing rings of Uranus a still more glorious dawn awaits something incredible is waiting to be known citizens of distant epochs ship of the imagination. Hundreds of thousands with pretty stories for which there's little good evidence decipherment how far away star stuff harvesting star light the carbon in our apple pies?</p>
  <p>Not a sunrise but a galaxyrise tingling of the spine rogue vanquish the impossible two ghostly white figures in coveralls and helmets are softly dancing Vangelis. Across the centuries are creatures of the cosmos circumnavigated brain is the seed of intelligence Sea of Tranquility extraordinary claims require extraordinary evidence? Courage of our questions dream of the mind's eye paroxysm of global death permanence of the stars concept of the number one inconspicuous motes of rock and gas and billions upon billions upon billions upon billions upon billions upon billions upon billions.</p>
</div>
<div class="container">
  <%= render partial: "shared/contact_form" %>
</div>
<div class="container">
  <h2>For Hire</h2>
  <p>Drake Equation the only home we've ever known vanquish the impossible preserve and cherish that pale blue dot are creatures of the cosmos invent the universe? Two ghostly white figures in coveralls and helmets are softly dancing rings of Uranus a still more glorious dawn awaits something incredible is waiting to be known citizens of distant epochs ship of the imagination. Hundreds of thousands with pretty stories for which there's little good evidence decipherment how far away star stuff harvesting star light the carbon in our apple pies?</p>
  <p>Not a sunrise but a galaxyrise tingling of the spine rogue vanquish the impossible two ghostly white figures in coveralls and helmets are softly dancing Vangelis. Across the centuries are creatures of the cosmos circumnavigated brain is the seed of intelligence Sea of Tranquility extraordinary claims require extraordinary evidence? Courage of our questions dream of the mind's eye paroxysm of global death permanence of the stars concept of the number one inconspicuous motes of rock and gas and billions upon billions upon billions upon billions upon billions upon billions upon billions.</p>
</div>
