@use 'sass:color';
$transition-speed: 0.25s;

@mixin form-field-input {
  display: block;
  width: 100%;
  padding: 0.3em;
  font-size: clamp(0.95em, 2vw, 1.3rem);
  font-family: $scala-family;
  border: 3px solid $white;
}

.form {
  &__container {
    background-color: $blue;
    padding: 1.25em;
    transition: background-color $transition-speed ease-in-out;
    position: relative;
    overflow: hidden;

    form {
      transform: translateY(0);
      opacity: 1;
      transition: transform $transition-speed ease-in-out,
        opacity $transition-speed ease-in-out;
    }

    .thanks {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: grid;
      align-items: center;
      justify-items: center;
      color: #fff;
      font-size: clamp(1.2em, 4vw, 2.25rem);
      font-weight: $font-weight-heavy;
      text-align: center;
      padding: 2em;
      opacity: 0;
      transform: translateY(100%);
      box-shadow: inset 0 0 0px 0px color.adjust($green, $lightness: 8%);
      transition: transform $transition-speed ease-in-out,
        opacity $transition-speed ease-in-out,
        box-shadow $transition-speed ease-out calc($transition-speed / 2);

      h2 {
        font-size: clamp(1.39375em, 4vw, 2.45rem);
      }
    }

    &.success {
      background-color: color.adjust($green, $blackness: 8%);

      form {
        transform: translateY(-10em);
        opacity: 0;
      }

      .thanks {
        opacity: 1;
        transform: translateY(0);
        box-shadow: inset 7px 7px 0px 0px color.adjust($green, $lightness: 8%);
      }
    }

    p + & {
      margin-top: 1.25em;
    }
  }

  &__field {
    position: relative;
    & + & {
      margin-top: 1.75em;
    }
  }

  &__error {
    position: absolute;
    bottom: -1.35em;
    left: 0;
    color: $white;
    font-size: 0.825em;
    margin-top: 0.4em;
  }

  &__actions {
    margin-top: 3.25em;
  }
}

.label {
  display: block;
  font-size: 1.125em;
  color: $white;
  font-weight: $font-weight-heavy;
  margin-bottom: 0.4em;
}

.input {
  &--text {
    @include form-field-input;
  }

  &--textarea {
    @include form-field-input;
    height: 20vmin;
  }

  &--error {
    border-color: $red;

    &:focus {
      outline-color: color.adjust($red, $blackness: 8%);
    }
  }
}

.button {
  &--primary {
    background-color: $green;
    color: #fff;
    border: none;
    padding: 10px 1.25em;
    font-size: 1.125em;
    cursor: pointer;
    box-shadow: -2px -2px 0px 0px color.adjust($green, $lightness: 8%);

    &:hover {
      background-color: color.adjust($green, $blackness: 8%);
    }

    &:active {
      background-color: color.adjust($green, $blackness: 12%);
      box-shadow: -2px -2px 0px 0px color.adjust($green, $lightness: 2%);
    }

    // disabled styles
    &[disabled] {
      background-color: color.adjust($green, $blackness: 19%);
      opacity: 0.6;
      box-shadow: -2px -2px 0px 0px $green;
      cursor: not-allowed;
    }
  }
}
