@use 'sass:color';
$transition-speed: 0.25s;

.form {
  &__container {
    background-color: $blue;
    padding: 1.25em;
    transition: background-color $transition-speed ease-in-out;
    position: relative;
    overflow: hidden;

    form {
      transform: translateY(0);
      opacity: 1;
      transition: transform $transition-speed ease-in-out,
        opacity $transition-speed ease-in-out;
    }

    .thanks {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: grid;
      align-items: center;
      justify-items: center;
      color: #fff;
      font-size: 1.5em;
      font-weight: $font-weight-heavy;
      text-align: center;
      padding: 2em;
      opacity: 0;
      transform: translateY(100%);
      transition: transform $transition-speed ease-in-out,
        opacity $transition-speed ease-in-out;
    }

    &.success {
      background-color: color.adjust($green, $blackness: 8%);

      form {
        transform: translateY(-10em);
        opacity: 0;
      }

      .thanks {
        opacity: 1;
        transform: translateY(0);
      }
    }

    p + & {
      margin-top: 1.25em;
    }
  }

  &__field {
    position: relative;
    & + & {
      margin-top: 1.75em;
    }
  }

  &__error {
    position: absolute;
    bottom: -1.35em;
    left: 0;
    color: $white;
    font-size: 0.825em;
    margin-top: 0.4em;
  }

  &__actions {
    margin-top: 1.25em;
  }

  &__errors {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 1.25em;
    margin-bottom: 1.25em;

    h2 {
      color: #721c24;
      margin: 0 0 10px 0;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        color: #721c24;
      }
    }
  }
}

.label {
  display: block;
  font-size: 1.125em;
  color: $white;
  font-weight: $font-weight-heavy;
  margin-bottom: 0.4em;
}

.input {
  &--text {
    width: 100%;
    padding: 0.714em;
    font-size: 1.144em;
    border: 3px solid $white;
  }

  &--textarea {
    width: 100%;
    padding: 0.714em;
    font-size: 1.144em;
    border: 3px solid $white;
  }

  &--error {
    border-color: $red;
  }
}

.button {
  &--primary {
    background-color: $green;
    color: #fff;
    border: none;
    padding: 10px 1.25em;
    font-size: 1.125em;
    cursor: pointer;

    &:hover {
      background-color: color.adjust($green, $blackness: 8%);
    }

    // disabled styles
    &[disabled] {
      background-color: color.adjust($green, $blackness: 8%);
      cursor: not-allowed;
    }
  }
}
