.tiles {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2em;

  @include breakpoint(large) {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
  }
}

.tile {
  position: relative;
  padding: 0 0 0 1rem;
  border-left-width: 1.1rem;
  border-left-style: solid;
  padding-bottom: 4em;

  p {
    font-size: clamp($base-font-size * 0.75, 2vw, 1.2rem);
  }

  .icon {
    font-size: 2em;
    position: absolute;
    bottom: 0;
  }

  &--yellow {
    border-left-color: $yellow;
  }

  &--blue {
    border-left-color: $blue;
  }

  &--green {
    border-left-color: $green;
  }

  &--purple {
    border-left-color: $purple;
  }

  &--red {
    border-left-color: $red;
  }
}
